<app-header></app-header>
<h1>Welcome to Voting Application..!</h1>
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav navbar-right">
    <li><div class="name" (click)="goToCreate()">
      Create new question
  </div></li>
    <br>
    <p>click on create question to create a new question for people to vote on</p>
    <hr>
    <li><div class="name" (click)="goToView()">
      View questions and vote
  </div></li>
    <br>
    <p>click on cast-vote to vote on questions that you and other people have created.</p>
    <hr>
    <li><div class="name" (click)="goToResults()">
      View results
  </div></li>
    <br>
    <p>click on view-results to check the voting results..</p>
  </ul>
</div>